body{

    background-image: url(https://www.formula1.com/content/dam/fom-website/sutton/2019/AbuDhabi/Sunday/MT015725_2019120131500157.jpg.transform/6col-retina/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.botoes{

    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    color: white;
    
}


.menu1{

    width: 800px;
    background-color: rgba(100, 100, 100,0.800);
    box-shadow: 0 4px 7px rgb(255, 254, 254);
    margin-left: 45%;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
   
}


.menu1 h3{

    display: flex;
    justify-content: center;
}

.menu1 a{
    
    
    color: white;
}

.menu1 span{

    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu1{

    width: 800px;
    background-color: rgba(100, 100, 100,0.800);
    box-shadow: 0 4px 7px rgb(255, 254, 254);
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
   
}

.menu2 h3{

    display: flex;
    justify-content: center;
}

.menu2 a{
    
    
    color: white;
}

.menu2 span{

    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu2{

    width: 800px;
    background-color: rgba(100, 100, 100,0.800);
    box-shadow: 0 4px 7px rgb(255, 254, 254);
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
   
}
