body{

    background-color: rgba(40, 40, 40, 0.900);    
}

.corpo{

    display: flex;
    justify-content: space-evenly;

}

.btn{

float: left;
display: flex;
justify-content: space-evenly;
flex-direction: column;
width: 10%;
height: 528px;
background: linear-gradient(180deg, rgb(100, 100, 100) 10%, rgb(50,50,50)100%);
}

.resultado{

    margin-top: 1%;
    margin-left: 40%;
    float: left;
}

.resultado #div_sorte{

    border-radius: 2%;
    background: rgba(20, 20, 20, 0.800)
}

.direitaAlto{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    width: 90%;
    height: 60px;
}