body{
    
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(175, 12, 12)
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    border-bottom: 10px dashed rgb(255, 255, 255);
}

@keyframes lista {
    0%   {background-color: red;}
    25%  {background-color: rgb(223, 243, 255);}
    50%  {background-color: rgb(79, 79, 80);}
    100% {background-color: rgb(49, 41, 48);}
  }
  
  
  .header ul {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: lista;
    animation-duration: 8s;
    animation-iteration-count: infinite;
;

  }

.header h1 {
    font-size: 58px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.container1 {
    display: flex;
    justify-content: right;
    width: 800px;
    text-decoration: none;
    list-style: none;
}

.container1 ul{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

.agora a{
    color: rgb(164, 219, 12);
}

.texto_centro div {
    
   font-size: 30px;
   width: 500px;
   margin-top: 150px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.campo_cadastrar{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.texto_centro{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.footer{
    height: 150px;
    border-bottom: 10px dashed rgb(255, 255, 255);
    

}

.campo_login{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

