body{

    margin: 0;
    background-color:  rgb(10,10,10);
    height: 654px;


}

.fundo h1 {
    font-size: 46px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }

.fundo ul {
  
    height: 15vh;
  
  }

.fundo{

    margin-top: 3%;
    margin-left: 3%;
    font-size: 20px;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
  
  }
  

@keyframes pneu {
    
    0% {
    transform: rotate(-1800deg)
    }
    100% {
    transform: rotate(3600deg)}
}
    
.pneu{
        
        
    animation-name: pneu;
    position: relative; 
    animation-direction: alternate;
    animation-duration: 3s;
   animation-iteration-count: infinite;
        
}
    
.lista{
    margin: 0;
    display: flex;
    width: 95%;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.200);

  
  }

a{
    color: black;
    

}

.agora a{
    color: rgb(255, 255, 255);
}

.texto h2{

    font-size: 35px;
    color: black;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.texto span{

    display: flex;
    margin-left: 25%;
    width: 50%;
}

.texto #p_texto{

    color: white;
    border: 2px solid white;
    box-shadow: 0 4px 7px rgb(255, 254, 254);


}

.texto button{

    margin-top: 5%;
    margin-left: 43%;
    font-size: 14PX;
    cursor: pointer;
    width: 10vw;
    height: 7vh;
    border-radius: 20vh;
    transition:  0.50s;
  
  }
  
  
  button:hover {
  
   
    background: rgb(2,200,20);
    box-shadow: 0 4px 7px rgb(255, 254, 254);
  }
  